body {
    background-color:black;
    margin : 0;
    overflow : hidden;
    font:200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#start {
    background-color:maroon;
    margin : 1;
    border-radius : 20px;
    padding: 15px;
    float:left;
    font-weight: bold;
}

#presets {
    background-color:beige;
    margin : 1;
    border-radius : 20px;
    padding: 15px;
    float:left;
    font-weight: bold;
}

/* https://www.w3schools.com/howto/howto_js_popup.asp */
/* Popup container */
.popup {
    background-color:beige;
    margin : 1;
    border-radius : 20px;
    padding: 15px;
    float:left;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
  
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  
/* Popup arrow */
.popup .popuptext::after {
    /*content: "";*/
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
}